

<div class="content">
    <h2> Pregled uporabnikov </h2>
    
    <div class="card">
      <h4> Naslov 1 </h4>
      <p> opis 1</p>
    </div>
    <div class="card">
      <h4> Naslov 2 </h4>
      <p> opis 2 </p>
    </div>
</div>



<!-- 
<div class="user-grid">
  <table>
    <thead>
      <tr>
        <th>Ime</th>
        <th>Priimek</th>
        <!-- Add more columns as needed -->
      <!-- </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.ime }}</td>
        <td>{{ user.priimek }}</td>
        <!-- Display additional user data here -->
      <!-- </tr>
    </tbody>
  </table>
</div>

<app-user-grid></app-user-grid> --> --> -->