


  .text {
    font-size: 18pt;
    font-weight: bold;
    margin-top: 40px;
    padding: 20px 60px;
  }

  button {
    background-color: rgb(85, 84, 84);
    padding: 6px 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border-radius: 10%;
    margin-left: 20px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 750px;
    padding: 16px;
    margin: 24px 0px;
    background-color: whitesmoke;
    font-family: sans-serif;
  }