


  .text {
    font-size: 18pt;
    font-weight: bold;
    margin-top: 40px;
    padding: 20px 60px;
  }

  button {
    background-color: rgb(85, 84, 84);
    padding: 6px 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border-radius: 10%;
    margin-left: 20px;
  }